@model Tarea

@{
    ViewData["Title"] = "Detalles";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tarea: @Model.Nombre</h5>
        <p class="card-text">Descripción: @Model.Descripcion</p>
        <p class="card-text">Fecha de Vencimiento: @Model.FechaVencimiento.ToShortDateString()</p>
        @* <p class="card-text">Completada: @Html.Raw(Model.EstaCompleta == true ? "Sí" : "No")</p> *@
        <p class="card-text">Completada: <input type="checkbox" @(Model.EstaCompleta ? "checked" : "") disabled /></p>
        <p class="card-text">Explicacion: @Model.Explicacion</p>
        <p class="card-text">Prioridad: @Model.Prioridad</p>
    </div>
</div>
